<!DOCTYPE html>
<html lang=en class=scroll-smooth>

<head>
  <meta charset=UTF-8 />
  <meta http-equiv=X-UA-Compatible content="IE=edge" />
  <meta name=viewport content="width=device-width, initial-scale=1.0" />
  <title>
    DevLance - Elites Dev Hub
  </title>
  <link rel=stylesheet href=assets/css/tailwind.css>
  <link rel=stylesheet href=assets/css/animate.css>
  <link rel=stylesheet href=/src/output.css>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<style>
  body {
    scroll-behavior: smooth;
  }
</style>

  <%- include("partials/header.ejs") -%>

  <!-- hero section -->
  <div id="home" class="relative pt-[120px] md:pt-[130px] lg:pt-[160px] bg-primary">
    <div class="container" >
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full px-4 ">
          
          <div class="hero-content text-center max-w-[780px] mx-auto wow fadeInUp "  data-wow-delay=.2s>
            <h1
              class="text-white font-bold text-3xl sm:text-4xl md:text-[45px] leading-snug sm:leading-snug md:leading-snug mb-8" >
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, at.
            </h1>
            <p
              class="text-base sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed mx-auto mb-10 text-[#e4e4e4] max-w-[600px]">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa ullam, nesciunt dolores soluta id rerum!
            </p>


          </div>
        </div>
        <div class="w-full px-4">
          <div class="mx-auto max-w-[845px] relative z-10 wow fadeInUp" data-wow-delay=.25s>
            <div class=mt-16>
              <img src=assets/images/banner-item-01.jpg alt=hero
                class="max-w-full mx-auto rounded-t-xl h-96 rounded-tr-xl" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end hero section -->


  <!-- feature section -->

  <section id="feature" class="pt-20 lg:pt-[120px] pb-8 lg:pb-[50px]" >
    <div class=container>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <div class="mb-12 lg:mb-20 max-w-[620px]">
            <span class="font-semibold text-4xl text-primary mb-10 block">
              Features
            </span>
            <h2 class="font-bold text-3xl sm:text-4xl md:text-[42px] text-dark mb-4">
              Main Features Of our platform
            </h2>
            <p class="text-lg sm:text-xl leading-relaxed sm:leading-relaxed text-body-color">

            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 lg:w-1/4 px-4">
          <div class="bg-white mb-12 group wow fadeInUp" data-wow-delay=.1s>
            <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10">
              <span
                class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300"></span>
              <svg width=35 height=35 viewBox="0 0 52 52" fill=none xmlns=http://www.w3.org/2000/svg>
                <path
                  d="M44.9313 11.7H38.9188C40.5438 10.9687 41.7626 9.99374 42.2501 8.69374C42.9001 6.98749 42.2501 5.19999 40.3001 3.33124C38.1876 1.29999 35.9938 0.568738 33.8001 1.13749C29.9813 2.11249 27.4626 7.06874 26.2438 9.99374C25.1063 7.06874 22.5876 2.11249 18.6876 1.13749C16.4938 0.568738 14.3001 1.29999 12.1876 3.33124C10.2376 5.19999 9.5876 6.98749 10.2376 8.69374C10.7251 9.99374 12.0251 10.9687 13.5688 11.7H7.06885C5.0376 11.7 3.4126 13.325 3.4126 15.3562V21.5312C3.4126 23.5625 5.0376 25.1875 7.06885 25.1875H7.71885V46.2312C7.71885 48.8312 9.83135 51.025 12.5126 51.025H40.1376C42.7376 51.025 44.9313 48.9125 44.9313 46.2312V25.1875C46.9626 25.1875 48.5876 23.5625 48.5876 21.5312V15.3562C48.5063 13.325 46.8813 11.7 44.9313 11.7ZM34.5313 3.98124C34.7751 3.89999 35.0188 3.89999 35.1813 3.89999C36.1563 3.89999 37.2126 4.38749 38.2688 5.52499C38.7563 6.01249 39.8126 7.06874 39.5688 7.79999C39.0001 9.34374 33.9626 10.6437 28.9251 11.05C30.0626 8.36874 32.1751 4.54999 34.5313 3.98124ZM13.0001 7.71874C12.7563 6.98749 13.8126 5.93124 14.3001 5.44374C15.4376 4.38749 16.4126 3.81874 17.3876 3.81874C17.6313 3.81874 17.8751 3.81874 18.0376 3.89999C20.4751 4.54999 22.5063 8.28749 23.6438 10.9687C18.6063 10.5625 13.5688 9.26249 13.0001 7.71874ZM42.0063 46.2312C42.0063 47.2875 41.1126 48.1812 40.0563 48.1812H12.4313C11.3751 48.1812 10.4813 47.2875 10.4813 46.2312V25.1875H41.9251V46.2312H42.0063ZM45.6626 21.5312C45.6626 22.0187 45.3376 22.3437 44.8501 22.3437H7.06885C6.6626 22.3437 6.25635 22.0187 6.25635 21.5312V15.3562C6.25635 14.95 6.6626 14.5437 7.06885 14.5437H44.8501C45.2563 14.5437 45.6626 14.8687 45.6626 15.3562V21.5312Z"
                  fill=white />
              </svg>
            </div>
            <h4 class="font-bold text-xl text-dark mb-3">
              Open-Source Synergy

            </h4>
            <p class="text-body-color mb-8 lg:mb-11">
              Empowering collaboration, transparency, and community-driven management for a vibrant developer ecosystem.
            </p>
            <a href class="font-medium text-base text-body-color hover:text-primary">
              Learn More
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4">
          <div class="bg-white mb-12 group wow fadeInUp" data-wow-delay=.15s>
            <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10">
              <span
                class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300"></span>
              <svg width=35 height=35 viewBox="0 0 52 52" fill=none xmlns=http://www.w3.org/2000/svg>
                <path
                  d="M49.8062 23.3187L43.875 17.3875C43.3063 16.8187 42.4125 16.8187 41.8438 17.3875C41.275 17.9562 41.275 18.85 41.8438 19.4187L46.9625 24.6187H27.4625V4.87498L32.5812 10.075C33.15 10.6437 34.0437 10.6437 34.6125 10.075C35.1812 9.50623 35.1812 8.61248 34.6125 8.04373L28.6812 2.11248C27.95 1.38123 26.975 0.974976 26 0.974976C24.9438 0.974976 24.05 1.38123 23.3188 2.11248L17.3875 8.04373C16.8187 8.61248 16.8187 9.50623 17.3875 10.075C17.6312 10.3187 18.0375 10.4812 18.3625 10.4812C18.6875 10.4812 19.0937 10.3187 19.3375 10.075L24.6187 4.87498V24.5375H4.95625L10.075 19.3375C10.6437 18.7687 10.6437 17.875 10.075 17.3062C9.50625 16.7375 8.6125 16.7375 8.04375 17.3062L2.1125 23.2375C0.65 24.7 0.65 27.1375 2.1125 28.6L8.04375 34.5312C8.2875 34.775 8.69375 34.9375 9.01875 34.9375C9.34375 34.9375 9.75 34.775 9.99375 34.5312C10.5625 33.9625 10.5625 33.0687 9.99375 32.5L4.79375 27.3H24.4563V47.125L19.2563 41.925C18.6875 41.3562 17.7938 41.3562 17.225 41.925C16.6563 42.4937 16.6563 43.3875 17.225 43.9562L23.1562 49.8875C23.8875 50.6187 24.8625 51.025 25.8375 51.025C26.8937 51.025 27.7875 50.6187 28.5187 49.8875L34.45 43.9562C35.0188 43.3875 35.0188 42.4937 34.45 41.925C33.8813 41.3562 32.9875 41.3562 32.4188 41.925L27.4625 47.125V27.3812H47.0438L41.8438 32.5812C41.275 33.15 41.275 34.0437 41.8438 34.6125C42.0875 34.8562 42.4938 35.0187 42.8188 35.0187C43.1438 35.0187 43.55 34.8562 43.7938 34.6125L49.725 28.6812C51.2688 27.2187 51.2687 24.7812 49.8062 23.3187Z"
                  fill=white />
              </svg>
            </div>
            <h4 class="font-bold text-xl text-dark mb-3">
              Verified Elite Devs
            </h4>
            <p class="text-body-color mb-8 lg:mb-11">
              Ensures developer authenticity, reduces scams, and promotes open source contributions through seamless
              GitHub integration.
            </p>
            <a href class="font-medium text-base text-body-color hover:text-primary">
              Learn More
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4">
          <div class="bg-white mb-12 group wow fadeInUp" data-wow-delay=.2s>
            <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10">
              <span
                class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300"></span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                stroke="currentColor" class="w-2 h-2 text-white font-thin">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
              </svg>

            </div>
            <h4 class="font-bold text-xl text-dark mb-3">
              No Middle Payments
            </h4>
            <p class="text-body-color mb-8 lg:mb-11">
              Fair compensation, timely transactions, and cost reduction by eliminating intermediaries in the
              payment&nbsp;&nbsp;
              process.
            </p>
            <a href class="font-medium text-base text-body-color hover:text-primary">
              Learn More
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4">
          <div class="bg-white mb-12 group wow fadeInUp" data-wow-delay=.2s>
            <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10">
              <span
                class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300"></span>
              <svg width=35 height=35 viewBox="0 0 35 35" fill=none xmlns=http://www.w3.org/2000/svg>
                <path
                  d="M10.7734 14.3281H3.82813C2.07813 14.3281 0.65625 12.9062 0.65625 11.1562V4.21094C0.65625 2.46094 2.07813 1.03906 3.82813 1.03906H10.7734C12.5234 1.03906 13.9453 2.46094 13.9453 4.21094V11.1562C13.9453 12.9062 12.5234 14.3281 10.7734 14.3281ZM3.82813 2.95312C3.17188 2.95312 2.57031 3.5 2.57031 4.21094V11.1562C2.57031 11.8125 3.11719 12.4141 3.82813 12.4141H10.7734C11.4297 12.4141 12.0313 11.8672 12.0313 11.1562V4.21094C12.0313 3.55469 11.4844 2.95312 10.7734 2.95312H3.82813Z"
                  fill=white />
                <path
                  d="M31.1719 14.3281H24.2266C22.4766 14.3281 21.0547 12.9062 21.0547 11.1562V4.21094C21.0547 2.46094 22.4766 1.03906 24.2266 1.03906H31.1719C32.9219 1.03906 34.3438 2.46094 34.3438 4.21094V11.1562C34.3438 12.9062 32.9219 14.3281 31.1719 14.3281ZM24.2266 2.95312C23.5703 2.95312 22.9688 3.5 22.9688 4.21094V11.1562C22.9688 11.8125 23.5156 12.4141 24.2266 12.4141H31.1719C31.8281 12.4141 32.4297 11.8672 32.4297 11.1562V4.21094C32.4297 3.55469 31.8828 2.95312 31.1719 2.95312H24.2266Z"
                  fill=white />
                <path
                  d="M10.7734 33.9609H3.82813C2.07813 33.9609 0.65625 32.5391 0.65625 30.7891V23.8438C0.65625 22.0938 2.07813 20.6719 3.82813 20.6719H10.7734C12.5234 20.6719 13.9453 22.0938 13.9453 23.8438V30.7891C13.9453 32.5391 12.5234 33.9609 10.7734 33.9609ZM3.82813 22.5859C3.17188 22.5859 2.57031 23.1328 2.57031 23.8438V30.7891C2.57031 31.4453 3.11719 32.0469 3.82813 32.0469H10.7734C11.4297 32.0469 12.0313 31.5 12.0313 30.7891V23.8438C12.0313 23.1875 11.4844 22.5859 10.7734 22.5859H3.82813Z"
                  fill=white />
                <path
                  d="M31.1719 33.9609H24.2266C22.4766 33.9609 21.0547 32.5391 21.0547 30.7891V23.8438C21.0547 22.0938 22.4766 20.6719 24.2266 20.6719H31.1719C32.9219 20.6719 34.3438 22.0938 34.3438 23.8438V30.7891C34.3438 32.5391 32.9219 33.9609 31.1719 33.9609ZM24.2266 22.5859C23.5703 22.5859 22.9688 23.1328 22.9688 23.8438V30.7891C22.9688 31.4453 23.5156 32.0469 24.2266 32.0469H31.1719C31.8281 32.0469 32.4297 31.5 32.4297 30.7891V23.8438C32.4297 23.1875 31.8828 22.5859 31.1719 22.5859H24.2266Z"
                  fill=white />
              </svg>
            </div>
            <h4 class="font-bold text-xl text-dark mb-3">
              Community Oversight
            </h4>
            <p class="text-body-color mb-8 lg:mb-11">
              Managed by open-source developers, ensuring a transparent, collaborative, and trustworthy freelance
              platform environment.</p>
            <a href class="font-medium text-base text-body-color hover:text-primary">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- feature section end -->

  <!-- about section -->

      <section id=about class="pt-20 lg:pt-[80px] pb-20 lg:pb-[80px] bg-[#f3f4fe]">
      <div class=container>
        <div class="bg-white wow fadeInUp" data-wow-delay=.2s>
          <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4">
              <div class="lg:flex items-center justify-between border overflow-hidden">
                <div
                  class="lg:max-w-[565px] xl:max-w-[640px] w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16 xl:p-[70px]">
                  <span class="text-4xl font-medium text-white py-2 px-5 bg-primary inline-block mb-5">
                    About Us
                  </span>
                  <h2 class="font-bold text-3xl sm:text-4xl 2xl:text-[40px] sm:leading-snug text-dark mb-6">
                    "Empowering Developers Through Openness, Trust, and Innovation"
                  </h2>
                  <p class="text-base text-body-color mb-9 leading-relaxed">
                    DevLance revolutionizes freelancing for developers with its open-source ethos and community-driven approach. Founded on the principles of transparency and trust, DevLance eliminates intermediaries, ensuring fair compensation and timely payments. 
                  <p class="text-base text-body-color mb-9 leading-relaxed">
                    The platform's unique GitHub Profile Sync feature enhances security, verifying each developer's authenticity. Managed by a community of open-source enthusiasts, DevLance fosters collaboration, innovation, and genuine contributions in the dynamic world of freelance development.
                  </p>
                  <a href
                    class="inline-flex items-center justify-center py-4 px-6 rounded text-white bg-primary text-base font-medium hover:bg-opacity-90 hover:shadow-lg transition duration-300 ease-in-out">
                    Learn More
                  </a>
                </div>
                <div class=text-center>
                  <div class="relative inline-block z-10">
                    <img src=assets/images/about.jpg alt=image class="mx-auto lg:ml-auto" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- about section end -->

  <!-- fqa section -->

  <section class="bg-[#f3f4ff] pt-14 lg:pt-[60px] pb-12 lg:pb-[90px] relative z-20 overflow-hidden">
    <div class=container>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[620px]">
            <span class="font-semibold text-4xl text-primary mb-2 block">
              FAQ
            </span>
            <h2 class="font-bold text-3xl sm:text-4xl md:text-[42px] text-dark mb-4">
              Any Questions? Answered
            </h2>
           
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4">
          <div class="single-faq w-full bg-white border border-[#F3F4FE] rounded-lg p-5 sm:p-8 mb-8 wow fadeInUp"
            data-wow-delay=".1s
              ">
            <button class="faq-btn flex items-center w-full text-left">
              <div
                class="w-full max-w-[40px] h-10 flex items-center justify-center rounded-lg bg-primary text-primary bg-opacity-5 mr-5">
                <svg width=17 height=10 viewBox="0 0 17 10" class="fill-current icon">
                  <path
                    d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                    fill=#3056D3 stroke=#3056D3 />
                </svg>
              </div>
              <div class=w-full>
                <h4 class="text-base sm:text-lg font-semibold text-black">
                  What is DevLance's mission?
                </h4>
              </div>
            </button>
            <div class="faq-content pl-[62px] hidden">
              <p class="text-base text-body-color leading-relaxed py-3">
                DevLance aims to revolutionize freelancing for developers, fostering openness, transparency, and community collaboration.
              </p>
            </div>
          </div>
          <div class="single-faq w-full bg-white border border-[#F3F4FE] rounded-lg p-5 sm:p-8 mb-8 wow fadeInUp"
            data-wow-delay=".15s
              ">
            <button class="faq-btn flex items-center w-full text-left">
              <div
                class="w-full max-w-[40px] h-10 flex items-center justify-center rounded-lg bg-primary text-primary bg-opacity-5 mr-5">
                <svg width=17 height=10 viewBox="0 0 17 10" class="fill-current icon">
                  <path
                    d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                    fill=#3056D3 stroke=#3056D3 />
                </svg>
              </div>
              <div class=w-full>
                <h4 class="text-base sm:text-lg font-semibold text-black">
                  How does GitHub Profile Sync work?
                </h4>
              </div>
            </button>
            <div class="faq-content pl-[62px] hidden">
              <p class="text-base text-body-color leading-relaxed py-3">
                It verifies each developer's identity, reducing scams and promoting genuine open-source contributions.
              </p>
            </div>
          </div>
          <div class="single-faq w-full bg-white border border-[#F3F4FE] rounded-lg p-5 sm:p-8 mb-8 wow fadeInUp"
            data-wow-delay=".2s
              ">
            <button class="faq-btn flex items-center w-full text-left">
              <div
                class="w-full max-w-[40px] h-10 flex items-center justify-center rounded-lg bg-primary text-primary bg-opacity-5 mr-5">
                <svg width=17 height=10 viewBox="0 0 17 10" class="fill-current icon">
                  <path
                    d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                    fill=#3056D3 stroke=#3056D3 />
                </svg>
              </div>
              <div class=w-full>
                <h4 class="text-base sm:text-lg font-semibold text-black">
                  Are there any transaction fees?
                </h4>
              </div>
            </button>
            <div class="faq-content pl-[62px] hidden">
              <p class="text-base text-body-color leading-relaxed py-3">
                No, DevLance eliminates middle payments for fair compensation and timely transactions.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="single-faq w-full bg-white border border-[#F3F4FE] rounded-lg p-5 sm:p-8 mb-8 wow fadeInUp"
            data-wow-delay=".1s
              ">
            <button class="faq-btn flex items-center w-full text-left">
              <div
                class="w-full max-w-[40px] h-10 flex items-center justify-center rounded-lg bg-primary text-primary bg-opacity-5 mr-5">
                <svg width=17 height=10 viewBox="0 0 17 10" class="fill-current icon">
                  <path
                    d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                    fill=#3056D3 stroke=#3056D3 />
                </svg>
              </div>
              <div class=w-full>
                <h4 class="text-base sm:text-lg font-semibold text-black">
                  Who manages DevLance?

                </h4>
              </div>
            </button>
            <div class="faq-content pl-[62px] hidden">
              <p class="text-base text-body-color leading-relaxed py-3">
                It is overseen by open-source developers, ensuring a transparent and trustworthy platform.
              </p>
            </div>
          </div>
          <div class="single-faq w-full bg-white border border-[#F3F4FE] rounded-lg p-5 sm:p-8 mb-8 wow fadeInUp"
            data-wow-delay=".15s
              ">
            <button class="faq-btn flex items-center w-full text-left">
              <div
                class="w-full max-w-[40px] h-10 flex items-center justify-center rounded-lg bg-primary text-primary bg-opacity-5 mr-5">
                <svg width=17 height=10 viewBox="0 0 17 10" class="fill-current icon">
                  <path
                    d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                    fill=#3056D3 stroke=#3056D3 />
                </svg>
              </div>
              <div class=w-full>
                <h4 class="text-base sm:text-lg font-semibold text-black">
                  How do I join DevLance?
                </h4>
              </div>
            </button>
            <div class="faq-content pl-[62px] hidden">
              <p class="text-base text-body-color leading-relaxed py-3">
                Simply sign up, sync your GitHub profile, and become part of our thriving community.
              </p>
            </div>
          </div>
          <div class="single-faq w-full bg-white border border-[#F3F4FE] rounded-lg p-5 sm:p-8 mb-8 wow fadeInUp"
            data-wow-delay=".2s
              ">
            <button class="faq-btn flex items-center w-full text-left">
              <div
                class="w-full max-w-[40px] h-10 flex items-center justify-center rounded-lg bg-primary text-primary bg-opacity-5 mr-5">
                <svg width=17 height=10 viewBox="0 0 17 10" class="fill-current icon">
                  <path
                    d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                    fill=#3056D3 stroke=#3056D3 />
                </svg>
              </div>
              <div class=w-full>
                <h4 class="text-base sm:text-lg font-semibold text-black">
                  What sets DevLance apart?
                </h4>
              </div>
            </button>
            <div class="faq-content pl-[62px] hidden">
              <p class="text-base text-body-color leading-relaxed py-3">
                Our platform combines openness, security, and community-driven collaboration, reshaping the future of freelancing for developers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 right-0 z-[-1]">
      <svg width=1440 height=886 viewBox="0 0 1440 886" fill=none xmlns=http://www.w3.org/2000/svg>
        <path opacity=0.5
          d="M193.307 -273.321L1480.87 1014.24L1121.85 1373.26C1121.85 1373.26 731.745 983.231 478.513 729.927C225.976 477.317 -165.714 85.6993 -165.714 85.6993L193.307 -273.321Z"
          fill=url(#paint0_linear) />
        <defs>
          <linearGradient id=paint0_linear x1=1308.65 y1=1142.58 x2=602.827 y2=-418.681 gradientUnits=userSpaceOnUse>
            <stop stop-color=#3056D3 stop-opacity=0.36 />
            <stop offset=1 stop-color=#F5F2FD stop-opacity=0 />
            <stop offset=1 stop-color=#F5F2FD stop-opacity=0.096144 />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </section>
  <!--end fqa section -->
  

  <!-- our team section -->

  
  <section id="team" class="pt-20 lg:pt-[120px] pb-10 lg:pb-10">
    <div class=container>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <div class="text-center mx-auto mb-[60px] max-w-[620px]">
            <span class="font-semibold text-lg text-primary mb-2 block">
              Our Team
            </span>
            <h2 class="font-bold text-3xl sm:text-4xl md:text-[42px] text-dark mb-4">
              Meet Our Team
            </h2>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap justify-center -mx-4">
       
        <div class="w-full sm:w-1/2 lg:w-1/4 px-4">
          <div class="mb-10 wow fadeInUp" data-wow-delay=.15s>
            <div class="relative w-[170px] h-170px] rounded-full z-10 mx-auto mb-6">
              <img src= "assets/images/ayush.jpg" alt=image class="w-full rounded-full" />
              <span class="absolute top-0 left-0 z-[-1]">
              </span>
              <span class="absolute right-0 bottom-0">
                <svg width=22 height=22 viewBox="0 0 22 22" fill=none xmlns=http://www.w3.org/2000/svg>
                  <path d="M21.5 21.5L0.505701 21.5C0.767606 10.023 10.023 0.767604 21.5 0.505697L21.5 21.5Z"
                    stroke=#13C296 />
                </svg>
              </span>
            </div>
            <div class=text-center>
              <h4 class="font-medium text-lg text-dark mb-2">Ayush</h4>
              <p class="font-medium text-sm text-body-color mb-5">
                Product Development
              </p>
              <div class="flex items-center justify-center">
                <a href class="text-[#cdced6] hover:text-primary w-8 h-8 mx-2 flex items-center justify-center">
                  <svg width=10 height=18 viewBox="0 0 10 18" class=fill-current>
                    <path
                      d="M9.29878 7.2H7.74898H7.19548V6.61935V4.81936V4.23871H7.74898H8.91133C9.21575 4.23871 9.46483 4.00645 9.46483 3.65806V0.580645C9.46483 0.26129 9.24343 0 8.91133 0H6.89106C4.70474 0 3.18262 1.62581 3.18262 4.03548V6.56129V7.14194H2.62912H0.747223C0.359774 7.14194 0 7.46129 0 7.92581V10.0161C0 10.4226 0.304424 10.8 0.747223 10.8H2.57377H3.12727V11.3806V17.2161C3.12727 17.6226 3.43169 18 3.87449 18H6.47593C6.64198 18 6.78036 17.9129 6.89106 17.7968C7.00176 17.6806 7.08478 17.4774 7.08478 17.3032V11.4097V10.829H7.66596H8.91133C9.2711 10.829 9.54785 10.5968 9.6032 10.2484V10.2194V10.1903L9.99065 8.1871C10.0183 7.98387 9.99065 7.75161 9.8246 7.51935C9.76925 7.37419 9.52018 7.22903 9.29878 7.2Z" />
                  </svg>
                </a>
                <a href class="text-[#cdced6] hover:text-primary w-8 h-8 mx-2 flex items-center justify-center">
                  <svg width=18 height=14 viewBox="0 0 18 14" class=fill-current>
                    <path
                      d="M15.9968 2.41096L17.1 1.09589C17.4194 0.739726 17.5065 0.465753 17.5355 0.328767C16.6645 0.821918 15.8516 0.986301 15.329 0.986301H15.1258L15.0097 0.876712C14.3129 0.30137 13.4419 0 12.5129 0C10.4806 0 8.88387 1.58904 8.88387 3.42466C8.88387 3.53425 8.88387 3.69863 8.9129 3.80822L9 4.35616L8.39032 4.32877C4.67419 4.21918 1.62581 1.20548 1.13226 0.684932C0.319355 2.05479 0.783871 3.36986 1.27742 4.19178L2.26452 5.72603L0.696774 4.90411C0.725806 6.05479 1.19032 6.9589 2.09032 7.61644L2.87419 8.16438L2.09032 8.46575C2.58387 9.86301 3.6871 10.4384 4.5 10.6575L5.57419 10.9315L4.55806 11.589C2.93226 12.6849 0.9 12.6027 0 12.5205C1.82903 13.726 4.00645 14 5.51613 14C6.64839 14 7.49032 13.8904 7.69355 13.8082C15.8226 12 16.2 5.15068 16.2 3.78082V3.58904L16.3742 3.47945C17.3613 2.60274 17.7677 2.13699 18 1.86301C17.9129 1.89041 17.7968 1.94521 17.6806 1.9726L15.9968 2.41096Z" />
                  </svg>
                </a>
                <a href class="text-[#cdced6] hover:text-primary w-8 h-8 mx-2 flex items-center justify-center">
                  <svg width=18 height=18 viewBox="0 0 18 18" class=fill-current>
                    <path
                      d="M8.90245 12.1939C10.7363 12.1939 12.2229 10.7073 12.2229 8.87352C12.2229 7.0397 10.7363 5.5531 8.90245 5.5531C7.06863 5.5531 5.58203 7.0397 5.58203 8.87352C5.58203 10.7073 7.06863 12.1939 8.90245 12.1939Z" />
                    <path
                      d="M12.5088 0H5.23824C2.34719 0 0 2.34719 0 5.23824V12.4516C0 15.3999 2.34719 17.7471 5.23824 17.7471H12.4516C15.3999 17.7471 17.7471 15.3999 17.7471 12.5088V5.23824C17.7471 2.34719 15.3999 0 12.5088 0ZM8.90215 13.2244C6.46909 13.2244 4.55126 11.2493 4.55126 8.87353C4.55126 6.49771 6.49771 4.52264 8.90215 4.52264C11.278 4.52264 13.2244 6.49771 13.2244 8.87353C13.2244 11.2493 11.3066 13.2244 8.90215 13.2244ZM14.9133 4.92338C14.627 5.23824 14.1976 5.40999 13.711 5.40999C13.2817 5.40999 12.8523 5.23824 12.5088 4.92338C12.1939 4.60851 12.0222 4.20777 12.0222 3.72116C12.0222 3.23454 12.1939 2.86243 12.5088 2.51894C12.8237 2.17545 13.2244 2.0037 13.711 2.0037C14.1404 2.0037 14.5984 2.17545 14.9133 2.49031C15.1995 2.86243 15.3999 3.29179 15.3999 3.74978C15.3712 4.20777 15.1995 4.60851 14.9133 4.92338Z" />
                    <path
                      d="M13.7397 3.03418C13.3676 3.03418 13.0527 3.34905 13.0527 3.72116C13.0527 4.09328 13.3676 4.40815 13.7397 4.40815C14.1118 4.40815 14.4267 4.09328 14.4267 3.72116C14.4267 3.34905 14.1405 3.03418 13.7397 3.03418Z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="w-full sm:w-1/2 lg:w-1/4 px-4">
          <div class="mb-10 wow fadeInUp" data-wow-delay=.25s>
            <div class="relative w-[170px] h-[170px] rounded-full z-10 mx-auto mb-6">
              <img src="assets/images/Ayush-Team2.jpg" alt=image class="w-full  rounded-full" />
              <span class="absolute right-0 bottom-0">
                <svg width=22 height=22 viewBox="0 0 22 22" fill=none xmlns=http://www.w3.org/2000/svg>
                  <path d="M21.5 21.5L0.505701 21.5C0.767606 10.023 10.023 0.767604 21.5 0.505697L21.5 21.5Z"
                    stroke=#13C296 />
                </svg>
              </span>
            </div>
            <div class=text-center>
              <h4 class="font-medium text-lg text-dark mb-2">
                Astitva Raj
              </h4>
              <p class="font-medium text-sm text-body-color mb-5">
               Product Development 
              </p>
              <div class="flex items-center justify-center">
                <a href class="text-[#cdced6] hover:text-primary w-8 h-8 mx-2 flex items-center justify-center">
                  <svg width=10 height=18 viewBox="0 0 10 18" class=fill-current>
                    <path
                      d="M9.29878 7.2H7.74898H7.19548V6.61935V4.81936V4.23871H7.74898H8.91133C9.21575 4.23871 9.46483 4.00645 9.46483 3.65806V0.580645C9.46483 0.26129 9.24343 0 8.91133 0H6.89106C4.70474 0 3.18262 1.62581 3.18262 4.03548V6.56129V7.14194H2.62912H0.747223C0.359774 7.14194 0 7.46129 0 7.92581V10.0161C0 10.4226 0.304424 10.8 0.747223 10.8H2.57377H3.12727V11.3806V17.2161C3.12727 17.6226 3.43169 18 3.87449 18H6.47593C6.64198 18 6.78036 17.9129 6.89106 17.7968C7.00176 17.6806 7.08478 17.4774 7.08478 17.3032V11.4097V10.829H7.66596H8.91133C9.2711 10.829 9.54785 10.5968 9.6032 10.2484V10.2194V10.1903L9.99065 8.1871C10.0183 7.98387 9.99065 7.75161 9.8246 7.51935C9.76925 7.37419 9.52018 7.22903 9.29878 7.2Z" />
                  </svg>
                </a>
                <a href class="text-[#cdced6] hover:text-primary w-8 h-8 mx-2 flex items-center justify-center">
                  <svg width=18 height=14 viewBox="0 0 18 14" class=fill-current>
                    <path
                      d="M15.9968 2.41096L17.1 1.09589C17.4194 0.739726 17.5065 0.465753 17.5355 0.328767C16.6645 0.821918 15.8516 0.986301 15.329 0.986301H15.1258L15.0097 0.876712C14.3129 0.30137 13.4419 0 12.5129 0C10.4806 0 8.88387 1.58904 8.88387 3.42466C8.88387 3.53425 8.88387 3.69863 8.9129 3.80822L9 4.35616L8.39032 4.32877C4.67419 4.21918 1.62581 1.20548 1.13226 0.684932C0.319355 2.05479 0.783871 3.36986 1.27742 4.19178L2.26452 5.72603L0.696774 4.90411C0.725806 6.05479 1.19032 6.9589 2.09032 7.61644L2.87419 8.16438L2.09032 8.46575C2.58387 9.86301 3.6871 10.4384 4.5 10.6575L5.57419 10.9315L4.55806 11.589C2.93226 12.6849 0.9 12.6027 0 12.5205C1.82903 13.726 4.00645 14 5.51613 14C6.64839 14 7.49032 13.8904 7.69355 13.8082C15.8226 12 16.2 5.15068 16.2 3.78082V3.58904L16.3742 3.47945C17.3613 2.60274 17.7677 2.13699 18 1.86301C17.9129 1.89041 17.7968 1.94521 17.6806 1.9726L15.9968 2.41096Z" />
                  </svg>
                </a>
                <a href class="text-[#cdced6] hover:text-primary w-8 h-8 mx-2 flex items-center justify-center">
                  <svg width=18 height=18 viewBox="0 0 18 18" class=fill-current>
                    <path
                      d="M8.90245 12.1939C10.7363 12.1939 12.2229 10.7073 12.2229 8.87352C12.2229 7.0397 10.7363 5.5531 8.90245 5.5531C7.06863 5.5531 5.58203 7.0397 5.58203 8.87352C5.58203 10.7073 7.06863 12.1939 8.90245 12.1939Z" />
                    <path
                      d="M12.5088 0H5.23824C2.34719 0 0 2.34719 0 5.23824V12.4516C0 15.3999 2.34719 17.7471 5.23824 17.7471H12.4516C15.3999 17.7471 17.7471 15.3999 17.7471 12.5088V5.23824C17.7471 2.34719 15.3999 0 12.5088 0ZM8.90215 13.2244C6.46909 13.2244 4.55126 11.2493 4.55126 8.87353C4.55126 6.49771 6.49771 4.52264 8.90215 4.52264C11.278 4.52264 13.2244 6.49771 13.2244 8.87353C13.2244 11.2493 11.3066 13.2244 8.90215 13.2244ZM14.9133 4.92338C14.627 5.23824 14.1976 5.40999 13.711 5.40999C13.2817 5.40999 12.8523 5.23824 12.5088 4.92338C12.1939 4.60851 12.0222 4.20777 12.0222 3.72116C12.0222 3.23454 12.1939 2.86243 12.5088 2.51894C12.8237 2.17545 13.2244 2.0037 13.711 2.0037C14.1404 2.0037 14.5984 2.17545 14.9133 2.49031C15.1995 2.86243 15.3999 3.29179 15.3999 3.74978C15.3712 4.20777 15.1995 4.60851 14.9133 4.92338Z" />
                    <path
                      d="M13.7397 3.03418C13.3676 3.03418 13.0527 3.34905 13.0527 3.72116C13.0527 4.09328 13.3676 4.40815 13.7397 4.40815C14.1118 4.40815 14.4267 4.09328 14.4267 3.72116C14.4267 3.34905 14.1405 3.03418 13.7397 3.03418Z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end our team section -->

  <!-- contact us section -->

  <section id=contact class="py-10 md:py-[60px] relative">
    <div class="absolute z-[-1] w-full h-1/2 lg:h-[45%] xl:h-1/2 bg-[#f3f4fe] top-0 left-0"></div>
    <div class="container px-4">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="px-4 w-full lg:w-7/12 xl:w-8/12">
          <div class=ud-contact-content-wrapper>
            <div class="ud-contact-title mb-12 lg:mb-[150px]">
              <span class="text-dark font-semibold text-base mb-5">
                CONTACT US
              </span>
              <h2 class="text-[35px] font-semibold">
                Let's talk about <br />
                Love to hear from you!
              </h2>
            </div>
          </div>
        </div>
        <div class="px-4 w-full lg:w-5/12 xl:w-4/12">
          <div
            class="shadow-testimonial rounded-lg bg-white py-10 px-8 md:p-[60px] lg:p-10 2xl:p-[60px] sm:py-12 sm:px-10 lg:py-12 lg:px-10 wow fadeInUp"
            data-wow-delay=".2s
              ">
            <h3 class="font-semibold mb-8 text-2xl md:text-[26px]">
              Send us a Message
            </h3>
            <form>
              <div class=mb-6>
                <label for=fullName class="block text-xs text-dark">Full Name*</label>
                <input type=text name=fullName placeholder="Name"
                  class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4" />
              </div>
              <div class=mb-6>
                <label for=email class="block text-xs text-dark">Email*</label>
                <input type=email name=email placeholder="Email"
                  class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4" />
              </div>
              <div class=mb-6>
                <label for=phone class="block text-xs text-dark">Phone*</label>
                <input type=text name=phone placeholder="Phone number"
                  class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4" />
              </div>
              <div class=mb-6>
                <label for=message class="block text-xs text-dark">Message*</label>
                <textarea name=message rows=1 placeholder="Type your message here"
                  class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4 resize-none"></textarea>
              </div>
              <div class=mb-0>
                <button type=submit
                  class="inline-flex items-center justify-center py-4 px-6 rounded text-white bg-primary text-base font-medium hover:bg-dark transition duration-300 ease-in-out">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--end contact us section -->

  <!-- footer section -->

  <%- include("partials/footer.ejs") -%>

  <!--end footer section -->


  <!-- ====== Back To Top  -->

  <a href
    class="hidden items-centerjustify-center bg-primary text-whitew-10 h-10 rounded-md fixed bottom-8 right-8 left-autoz-[999] hover:bg-dark back-to-top shadow-md transition duration-300 ease-in-out">
    <span class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]"></span>
  </a>
  <!-- ====== Back To Top Ende -->

  <!-- ====== All Scripts -->


  