<!DOCTYPE html>
<html lang=en class=scroll-smooth>

<head>
  <meta charset=UTF-8 />
  <meta http-equiv=X-UA-Compatible content="IE=edge" />
  <meta name=viewport content="width=device-width, initial-scale=1.0" />
  <title>
    DevLance
  </title>
  <link rel=stylesheet href=assets/css/tailwind.css>
  <link rel=stylesheet href=assets/css/animate.css>
  <link rel=stylesheet href=/src/output.css>
</head>

<body>
  <div class="ud-header bg-transparent absolute top-0 left-0 z-40 w-full flex items-center">
    <div class=container>
      <div class="flex mx-4 items-center justify-between relative">
        <div class="px-4 w-60 max-w-full">
          <a href="/" class="w-full block py-5 text-black">
            <h1 class="text-4xl font-bold text-black">DevLance </h1>
          </a>
          
        </div>
        <div class="flex px-4 justify-between items-center w-full">
          <div>
            <button id=navbarToggler
              class="block absolute right-4 top-1/2 -translate-y-1/2 lg:hidden focus:ring-2 ring-primary px-3 py-[6px] rounded-lg">
              <span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
              <span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
              <span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
            </button>
            <nav id=navbarCollapse
              class="absolute py-5 lg:py-0 lg:px-4 xl:px-6 bg-white lg:bg-transparent shadow-lg rounded-lg max-w-[250px] w-full lg:max-w-full lg:w-full right-4 top-full hidden lg:block lg:static lg:shadow-none">
              <ul class="blcok lg:flex">
                <li class="relative group">
                  <a href=#home
                    class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0">
                    Home
                  </a>
                </li>
                <li class="relative group">
                  <a href=#about
                    class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-7 xl:ml-12">
                    About
                  </a>
                </li>
                <li class="relative group">
                  <a href=#pricing
                    class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-7 xl:ml-12">
                    services
                  </a>
                </li>
                <li class="relative group">
                  <a href=#team
                    class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-7 xl:ml-12">
                    Team
                  </a>
                </li>
                <li class="relative group">
                  <a href=#contact
                    class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-7 xl:ml-12">
                    Contact
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="sm:flex justify-end hidden pr-16 lg:pr-0">
            <a href=signin.html class="text-base font-medium text-white hover:opacity-70 py-3 px-7 loginBtn">
              Sign In
            </a>
            <a href=signup.html
              class="text-base font-medium text-white bg-white bg-opacity-20 rounded-lg py-3 px-6 hover:bg-opacity-100 hover:text-dark signUpBtn duration-300 ease-in-out">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- hero section -->
  <div id=home class="relative pt-[120px] md:pt-[130px] lg:pt-[160px] bg-primary">
    <div class=container>
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full px-4">
          <div class="hero-content text-center max-w-[780px] mx-auto wow fadeInUp" data-wow-delay=.2s>
            <h1
              class="text-white font-bold text-3xl sm:text-4xl md:text-[45px] leading-snug sm:leading-snug md:leading-snug mb-8">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, at.
            </h1>
            <p
              class="text-base sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed mx-auto mb-10 text-[#e4e4e4] max-w-[600px]">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa ullam, nesciunt dolores soluta id rerum!
            </p>
            <ul class="flex flex-wrap items-center justify-center mb-10">
              <li>
                <a href="#"
                  class="py-4 px-6 sm:px-10 inline-flex items-center justify-center text-center text-dark text-base bg-white hover:text-primary hover:shadow-lg font-medium rounded-lg transition duration-300 ease-in-out">
                  Download Now
                </a>
              </li>
              <li>
                <a href="#" target=_blank
                  class="text-base font-medium text-white py-4 px-6 sm:px-10 flex items-center hover:opacity-70 transition duration-300 ease-in-out">
                  Star on Github
                  <span class=pl-2>
                    <svg width=20 height=8 viewBox="0 0 20 8" class=fill-current>
                      <path
                        d="M19.2188 2.90632L17.0625 0.343819C16.875 0.125069 16.5312 0.0938193 16.2812 0.281319C16.0625 0.468819 16.0312 0.812569 16.2188 1.06257L18.25 3.46882H0.9375C0.625 3.46882 0.375 3.71882 0.375 4.03132C0.375 4.34382 0.625 4.59382 0.9375 4.59382H18.25L16.2188 7.00007C16.0312 7.21882 16.0625 7.56257 16.2812 7.78132C16.375 7.87507 16.5 7.90632 16.625 7.90632C16.7812 7.90632 16.9375 7.84382 17.0312 7.71882L19.1875 5.15632C19.75 4.46882 19.75 3.53132 19.2188 2.90632Z" />
                    </svg>
                  </span>
                </a>
              </li>
            </ul>

          </div>
        </div>
        <div class="w-full px-4">
          <div class="mx-auto max-w-[845px] relative z-10 wow fadeInUp" data-wow-delay=.25s>
            <div class=mt-16>
              <img src=assets/images/banner-item-01.jpg alt=hero
                class="max-w-full mx-auto rounded-t-xl rounded-tr-xl" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end hero section -->

  <script>
    const backToTop = document.querySelector(".back-to-top");
    if (
      document.body.scrollTop > 50 ||
      document.documentElement.scrollTop > 50
    ) {
      backToTop.style.display = "flex";
    } else {
      backToTop.style.display = "none";
    }

    let navbarToggler = document.querySelector("#navbarToggler");
    const navbarCollapse = document.querySelector("#navbarCollapse");

    navbarToggler.addEventListener("click", () => {
      navbarToggler.classList.toggle("navbarTogglerActive");
      navbarCollapse.classList.toggle("hidden");
    });

    document
      .querySelectorAll("#navbarCollapse ul li:not(.submenu-item) a")
      .forEach((e) =>
        e.addEventListener("click", () => {
          navbarToggler.classList.remove("navbarTogglerActive");
          navbarCollapse.classList.add("hidden");
        })
      );

    const faqs = document.querySelectorAll(".single-faq");
    faqs.forEach((el) => {
      el.querySelector(".faq-btn").addEventListener("click", () => {
        el.querySelector(".icon").classList.toggle("rotate-180");
        el.querySelector(".faq-content").classList.toggle("hidden");
      });
    });
  </script>

</body>

</html>